.section_left {
    width: 20%;
    /*min-height: 600px;*/
    float: left;
    border: 0px solid #E4E4E4;
}

    .section_left .top {
        padding: 15px 20px;
        padding-left: 0;
        text-align: right;
        background: #454545;
        color: #ffffff;
    }

    .section_left .top1 {
        padding: 25px 0px;
        text-align: center;
        background: #454545;
        color: #ffffff;
    }

.section_right {
    width: 75%;
    padding-left: 25px;
    /*min-height: 600px;*/
    float: left;
    margin-bottom: 30px;
}

.news_left {
}

    .news_left li {
        height: 30px;
        line-height: 30px;
        background: url(../images2/home_dot.png) no-repeat;
        background-position: 5px 11px;
        padding-left: 20px;
        overflow: hidden;
    }


.section_left {
    margin-top: 10px;
}

    .section_left a, .fruit_name {
        text-decoration: none;
        color: #6F6A6A;
    }

        .section_left li a:hover, .fruit_name:hover {
            text-decoration: underline;
            color: #0872CA;
        }

.news_left {
    border: 1px solid #E8E8E8;
    padding: 10px 0;
}

.section_left .slide {
    margin-top: 5px;
    margin-bottom: 7px;
    width: 99%;
    height: 150px;
}

.section_left .slide1 {
    /*margin-top: 5px;
    margin-bottom: 7px;
    width: 99%;
    min-height: 150px;
    border: 1px solid #E8E8E8;*/
    margin-top: 5px;
    margin-bottom: 7px;
    width: 99%;
    min-height: 200px;
    border: 1px solid #E8E8E8;
}

.slide1 .slide_title {
    margin-left: 43px;
    text-align: center;
    font-size: 18px;
    color: #0872CA;
    font-weight: bold;
}

.slide1 .slide_qr {
    margin-left: 24px;
    margin-right: -11px;
    margin-top: 10px;
    border: 0px solid #E8E8E8;
}

.section_left h3 {
    font-weight: normal;
    font-size: 18px;
}

.section_left h5 {
    font-size: 16px;
    font-family: Courier New;
}


.company_type {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin: 30px 0 10px 0;
}

.company_name {
    float: left;
    width: 45%;
    margin-right: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.last_name {
    float: none;
}

.expert_type {
    vertical-align: text-bottom;
    font-family: '宋体';
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    line-height: 2em;
    color: #303030;
}

.expert_name {
    font-family: '宋体';
    font-size: 18px;
    width: 5em;
}

.expert_desc {
    font-family: '宋体';
    font-size: 18px;
    line-height: 1.5em;
}

#defaultPage table tr {
    line-height: 2em;
    height: 2em;
    vertical-align: sub;
}
