
.news_left {
}

    .news_left li {
        height: 30px;
        line-height: 30px;
        background: url(../images/home_dot.png) no-repeat;
        background-position: 5px 11px;
        padding-left: 20px;
        overflow: hidden;
    }

        .news_left li a {
            color: #6F6A6A;
        }

            .news_left li a:hover {
                color: #ff0000;
            }

.pane_link {
    width: 50%;
    height: 150px;
    float: left;
}

    .pane_link img {
        width: 120px;
        height: 120px;
        float: left;
    }

    .pane_link .detailed {
        margin-left: -15px;
        padding-top: 3px;
        height: 100%;
        float: left;
        overflow: hidden;
    }

        .pane_link .detailed p {
            width: 210px;
            height: 1.5em;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
