@{
    Layout = null; /* 此句必须加，不然默认布局页为_Layout页，会造成死循环 */
    ViewBag.Title = "Footer";
}

<!--footer-->
<div class="footer">
    <div class="content">
        <div class="yqlj">
            <span>友情链接：</span>
            <div class="yqlj1">
                <select name="url" onchange="if(value !== ''){window.open(this.options[this.selectedIndex].value);}else{return(false);}">
                    <option value="" selected=selected>中央部门</option>
                    <option value="http://www.miit.gov.cn/n11293472/index.html">工业和信息化部</option>
                    <option value="http://www.most.gov.cn/">科学技术部</option>
                    <option value="http://www.sdpc.gov.cn/">发展与改革委员会</option>
                    <option value="http://www.mofcom.gov.cn/">商务部</option>
                </select>
            </div>
            <div class="yqlj1">
                <select name="url" onchange="if(value !== ''){window.open(this.options[this.selectedIndex].value);}else{return(false);}">
                    <option value="" selected="selected">政府部门</option>
                    <option value="http://www.ecma.org.cn">中国电子材料协会</option>
                    <option value="http://www.c-e-m.com/index.html">中国电子材料网</option>
                </select>
            </div>
            <div class="yqlj1">
                <select name="url" onchange="if(value !== ''){window.open(this.options[this.selectedIndex].value);}else{return(false);}">
                    <option value="" selected="selected">其他相关协会</option>
                    <option value="http://www.chinaccl.cn/">中国电子材料行业协会</option>
                    <option value="http://www.chinaccl.cn/">石化联合会化工新材料专委会</option>
                    <option value="http://www.chinaccl.cn/">中国氟硅有机材料工业协会</option>
                    <option value="http://www.chinaccl.cn/">中国合成树脂协会</option>
                    <option value="http://www.chinaccl.cn/">国家电子功能及辅助材料质量监督检验中心</option>
                </select>
            </div>
            <div class="yqlj1">
                <select name="url" onchange="if(value !== ''){window.open(this.options[this.selectedIndex].value);}else{return(false);}">
                    <option value="" selected="selected">联盟理事成员单位</option>
                    <option value="http://www.cast.org.cn/">巨化集团公司（理事长单位）</option>
                    <option value="http://www.cast.org.cn/">中芯国际集成电路制造有限公司（副理事长单位）</option>
                    <option value="http://www.cast.org.cn/">京东方科技集团股份有限公司（副理事长单位）</option>
                    <option value="http://www.cast.org.cn/">多氟多化工股份公司(（副理事长单位）</option>
                    <option value="http://www.cast.org.cn/">湖北鼎龙化学股份有限公司（副理事长单位）</option>
                    <option value="http://www.cast.org.cn/">广东光华科技股份有限公司（副理事长单位）</option>
                    <option value="http://www.cast.org.cn/">山东圣泉新材料股份有限公司（副理事长单位）</option>
                    <option value="http://www.cast.org.cn/">江阴江化微电子材料股份有限公司（副理事长单位）</option>
                    <option value="http://www.cast.org.cn/">中国电子材料行业协会（副理事长单位）</option>
                    <option value="http://www.cast.org.cn/">深圳市华星光电技术有限公司</option>
                    <option value="http://www.cast.org.cn/">天马微电子集团</option>
                    <option value="http://www.cast.org.cn/">上海先进半导体制造股份有限公司</option>
                    <option value="http://www.cast.org.cn/">广东生益科技股份有限公司</option>
                    <option value="http://www.cast.org.cn/">广东风华高科技股份有限公司</option>
                    <option value="http://www.cast.org.cn/">佛山市华特气体有限公司</option>
                    <option value="http://www.cast.org.cn/">杭州格林达化学有限公司</option>
                    <option value="http://www.cast.org.cn/">华烁科技股份有限公司</option>
                    <option value="http://www.cast.org.cn/">苏州晶瑞化学股份有限公司</option>
                    <option value="http://www.cast.org.cn/">江阴润玛电子材料股份有限公司</option>
                    <option value="http://www.cast.org.cn/">江苏广信感光新材料股份有限公司</option>
                    <option value="http://www.cast.org.cn/">西安宏星电子浆料有限公司</option>
                    <option value="http://www.cast.org.cn/">清华大学化学系</option>
                    <option value="http://www.cast.org.cn/">中科院化学所</option>
                    <option value="http://www.cast.org.cn/">中蓝晨光化工研究设计院有限公司</option>
                    <option value="http://www.cast.org.cn/">南通星辰合成材料有限公司</option>
                    <option value="http://www.cast.org.cn/">浙江金瑞泓科技股份有限公司</option>
                    <option value="http://www.cast.org.cn/">北京鼎材科技有限公司</option>
                    <option value="http://www.cast.org.cn/">苏州瑞红电子化学品有限公司</option>
                    <option value="http://www.cast.org.cn/">大连保税区科利德化工科技开发有限公司</option>
                    <option value="http://www.cast.org.cn/">合肥正帆电子材料有限公司</option>
                    <option value="http://www.cast.org.cn/">湖南利德电子浆料股份有限公司</option>
                    <option value="http://www.cast.org.cn/">浙江东氟塑料科技有限公司</option>
                    <option value="http://www.cast.org.cn/">绿菱电子材料（天津）有限公司</option>
                    <option value="http://www.cast.org.cn/">浙江省化工研究院有限公司（中化蓝天）  </option>
                    <option value="http://www.cast.org.cn/">中昊光明化工研究设计院</option>
                    <option value="http://www.cast.org.cn/">黎明化工研究设计院</option>
                    <option value="http://www.cast.org.cn/">北京化工大学</option>
                    <option value="http://www.cast.org.cn/">华东理工大学</option>
                    <option value="http://www.cast.org.cn/">北京华通瑞驰材料科技有限公司</option>
                    <option value="http://www.cast.org.cn/">湖北卓熙氟化股份有限公司</option>
                    <option value="http://www.cast.org.cn/">济南泰星精细化工有限公司</option>
                    <option value="http://www.cast.org.cn/">江苏雅克科技股份有限公司</option>
                    <option value="http://www.cast.org.cn/">宇瑞(上海)化学有限公司</option>
                </select>
            </div>
            <div class="info">
                <div class="db">
                    <p>
                        主办方：中国电子材料行业协会&nbsp;&nbsp;&nbsp;&nbsp;地址：武汉市洪山区光谷街30号&nbsp;&nbsp;&nbsp;&nbsp;E-mail： ECMA2010@126.com<br />
                        CopyRight@2013 中国电子化工新材料产业联盟&nbsp;&nbsp;&nbsp;&nbsp;邮编：430074&nbsp;&nbsp;&nbsp;&nbsp;技术支持：NWDesign
                    </p>
                    <a href="http://wuhan.cyberpolice.cn/ga/"><img alt="" src="/Content/images/cxwz.jpg" width="112px" height="35px;" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
