@using LM.Model.Model
@using LM.Service.Security
@{
    Layout = null; /* 此句必须加，不然默认布局页为_Layout页，会造成死循环 */
    ViewBag.Title = "Footer";

    var config = CurrentContext.Get("HomePageConfig") as HomePageConfigModel ?? new HomePageConfigModel();
    var footerModel = CurrentContext.Get("FooterModel") as FooterModel ?? new FooterModel();
}

<!--footer-->
<div class="footer">
    <div class="content">
        <div class="yqlj">
            <span>友情链接：</span>
            <div class="yqlj1">
                <select name="url" onchange="if(value !== ''){window.open(this.options[this.selectedIndex].value);}else{return(false);}">
                    <option value="" selected=selected>中央部门</option>
                    <option value="http://www.miit.gov.cn/n11293472/index.html">工业和信息化部</option>
                    <option value="http://www.most.gov.cn/">科学技术部</option>
                    <option value="http://www.sdpc.gov.cn/">发展与改革委员会</option>
                    <option value="http://www.mofcom.gov.cn/">商务部</option>
                </select>
            </div>
            <div class="yqlj1">
                <select name="url" onchange="if(value !== ''){window.open(this.options[this.selectedIndex].value);}else{return(false);}">
                    <option value="" selected="selected">政府部门</option>
                    <option value="http://www.ecma.org.cn">中国电子材料协会</option>
                    <option value="http://www.c-e-m.com/index.html">中国电子材料网</option>
                </select>
            </div>
            <div class="yqlj1">
                <select name="url" onchange="if(value !== ''){window.open(this.options[this.selectedIndex].value);}else{return(false);}">
                    <option value="" selected="selected">其他相关协会</option>
                    <option value="http://www.chinaccl.cn/">中国电子材料行业协会</option>
                    <option value="http://www.chinaccl.cn/">石化联合会化工新材料专委会</option>
                    <option value="http://www.chinaccl.cn/">中国氟硅有机材料工业协会</option>
                    <option value="http://www.chinaccl.cn/">中国合成树脂协会</option>
                    <option value="http://www.chinaccl.cn/">国家电子功能及辅助材料质量监督检验中心</option>
                </select>
            </div>
            <div class="yqlj1">
                <select name="url" onchange="if(value !== ''){window.open(this.options[this.selectedIndex].value);}else{return(false);}">
                    <option value="" selected="selected">联盟理事成员单位</option>
                    @if (footerModel.companies != null && footerModel.companies.Count > 0)
                    {
                        foreach (var item in footerModel.companies)
                        {
                            <option value="@item.Site">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="info">
                <div class="db">
                    <p>
                        主办方：中国电子材料行业协会&nbsp;&nbsp;&nbsp;&nbsp;地址：@(footerModel.Address)&nbsp;&nbsp;&nbsp;&nbsp;E-mail：@(footerModel.Email)<br />
                        Copyright@2016 @(config.SiteName)&nbsp;&nbsp;&nbsp;&nbsp;电话：@(footerModel.Telphone)&nbsp;&nbsp;&nbsp;&nbsp;邮编：430074&nbsp;&nbsp;&nbsp;&nbsp;技术支持：NWDesign
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
