@{
    Layout = null; /* 此句必须加，不然默认布局页为_Layout页，会造成死循环 */
    ViewBag.Title = "Header";
}

<script>
    function seaSubmit() {
        var key = $('#searchKey').val();
        if (key === '' || key == undefined) {
            alert('请输入关键字');
            return;
        }
        window.open("/Home/Search?key=" + key);
    }
</script>


<div class="top_Menu">
    <div class="section">
        <div class="left">
            &nbsp;&nbsp;欢迎进入中国电子化工新材料产业联盟！
        </div>
        <div class="right">
            <span class="showhover"><a href="javascript:window.location.href='/Admin/Home/Index'" target="_blank">登录</a></span>
            <span class="showhover"><a onclick="SetHome(this, window.location)" href="javascript:void(0)">设为首页</a></span>
            <span class="showhover"><a onclick="AddFavorite(window.location, document.title)" href="javascript:void(0)">加入收藏</a></span>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="top_Logo">
    <div class="section">
        <div class="left">
            <div class="logo">
                <img src="/Content/images2/home_logo.png" height="80" />
            </div>
        </div>
        <div class="right" style="min-height:80px;line-height:80px;">
            <input type="text" class="input_text" id="searchKey" placeholder="请输入关键字" style="margin-top: 23px;" /><button type="button" class="button bg-blue" onclick='seaSubmit()'>搜索</button>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="Menu bg-blue">
    <div class="section">
        <ul>
            <li><a href="/Home/Index" title="首页">首页</a></li>
            <li><a href="/Home/About" title="关于联盟">关于联盟</a></li>
            <li><a href="/Article/InfoList" title="新闻资讯">新闻资讯</a></li>
            <li><a href="/Company/List" title="联盟成员">联盟成员</a></li>
            <li><a href="/Expert/List" title="专家委员会">专家委员会</a></li>
            <li><a href="/Product/List" title="产品展示">产品展示</a></li>
            <li><a href="/Fruits/List" title="科研成果">科研成果</a></li>
            <li><a href="/Home/Contact" title="联系我们">联系我们</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="banner">
    @*<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="100%">
            <param name="movie" value="@(string.IsNullOrEmpty(config.FlashSrc) ? "/Content/swf/flash.swf" : "/Content/images2/flash.png")" />
            <param name="quality" value="high" />
            <param name="wmode" value="opaque" />
            <embed src="@(string.IsNullOrEmpty(config.FlashSrc) ? "/Content/swf/flash.swf" : "/Content/images2/flash.png")"
                   quality="high" wmode="opaque" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"
                   type="application/x-shockwave-flash"
                   width="100%"/>
        </object>*@
    <img src="/Content/images2/home_flash.jpg" width="100%" height="100%" />
    <div class="clear"></div>
</div>
