@using LM.Model.Model
@using LM.Service.Security
@{
    Layout = null; /* 此句必须加，不然默认布局页为_Layout页，会造成死循环 */
    ViewBag.Title = "Header"; 
    var config = CurrentContext.Get("HomePageConfig") as HomePageConfigModel;
}

<!--1. Top-->
<!--search-->
<div class="find">
    <div style="float:left;margin:0 10px;">
        <span class="ding">
            <a onclick="SetHome(window.location)" href="javascript:void(0)">设为首页</a> |
            <a onclick="AddFavorite(window.location, document.title)" href="javascript:void(0)">加入收藏</a> |
            <a href="javascript:window.location.href='/Admin/Home/Index'">登录</a>
        </span>
    </div>
    <span class="find_content">
        <form name='search' id='searchFrm' method='get'>
            <input style='color:#999; font-size:13px; padding-left:5px;' type="text" id="tbxKeyword" class="ss_ct" rel='search' placeholder="请输入内容" />
            <input type='hidden' id="search_Key" name="search_Key" value="" />
            <div class="ss"> <a href="#" onclick='seaSubmit()'></a></div>
            <input type="hidden" name="__hash__" value="" />
        </form>
    </span>
</div>
<!--end Top-->
<!--flash-->
<div class="top">
    <div class="flash">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="1004" height="181">
            <param name="movie" value="@(string.IsNullOrEmpty(config.FlashSrc) ? "/Content/swf/flash.swf" : config.FlashSrc)" />
            <param name="quality" value="high" />
            <param name="wmode" value="opaque" />
            <embed src="@(string.IsNullOrEmpty(config.FlashSrc) ? "/Content/swf/flash.swf" : config.FlashSrc)" quality="high" wmode="opaque" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="1004" height="181" />
        </object>
    </div>
</div>

<!--nav-->
<div class="top1">
    <ul id="navmenu">
        <li><a href="/Home/Index" title="首页">首页</a></li>
        <li>
            <a href="/Home/About" title="关于联盟">关于联盟</a>
        </li>
        <li>
            <a href="/Trend/Index" title="联盟动态">联盟动态</a>
        </li>
        <li>
            <a href="/Member/Index" title="联盟成员">联盟成员</a>
        </li>
        <li>
            <a href="/Committee/Index" title="专家委员会">专家委员会</a>
        </li>
        <li>
            <a href="/Product/Index" title="产品展示">产品展示</a>
        </li>
        <li>
            <a href="/Outcome/Index" title="联盟成果">科研与合作</a>
        </li>
        <li>
            <a href="/Home/Contact" title="联系我们">联系我们</a>
        </li>
    </ul>
</div>

<!--广告栏-->
<div class="" style="padding-top:10px;margin-bottom: 10px;">
    <a href="#">
        <img width="1004;" src="@(string.IsNullOrEmpty(config.AdSrc)?"/Content/images/guanggao.gif":config.AdSrc)" alt="" />
    </a>
</div>

