@{
    ViewBag.Title = "Header";
}

<!--1. Top-->
<!--search-->
<div class="find">
    <div style="float:left;margin:0 10px;">
        <span class="ding"><a onclick="SetHome(window.location)" href="javascript:void(0)">设为首页</a> | <a onclick="AddFavorite(window.location,document.title)" href="javascript:void(0)">加入收藏</a></span>
    </div>
    <span class="find_content">
        <form name='search' id='searchFrm' method='get'>
            <input style='color:#999; font-size:13px; padding-left:5px;' type="text" id="tbxKeyword" class="ss_ct" rel='search' placeholder="请输入内容" />
            <input type='hidden' id="search_Key" name="search_Key" value="" />
            <div class="ss"> <a href="#" onclick='seaSubmit()'></a></div>
            <input type="hidden" name="__hash__" value="" />
        </form>
    </span>
</div>
<!--end Top-->
<!--flash-->
<div class="top">
    <div class="flash">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="1004" height="181">
            <param name="movie" value="swf/movie2.swf" />
            <param name="quality" value="high" />
            <param name="wmode" value="opaque" />
            <embed src="swf/movie2.swf" quality="high" wmode="opaque" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="1004" height="181" />
        </object>
    </div>
</div>

<!--nav-->
<div class="top1">
    <ul id="navmenu">
        <li><a href="index.php/index/index.html">首页</a></li>
        <li>
            <a href="#">关于联盟</a>
        </li>
        <li>
            <a href="index.php/index/show/tid/25.html">联盟动态</a>
        </li>
        <li>
            <a href="index.php/index/show/tid/1.html" title="协会动态">联盟成员</a>
        </li>
        <li>
            <a href="index.php/index/show/tid/4.html" title="行业信息">专家委员会</a>
        </li>
        <li>
            <a href="index.php/index/show/tid/9.html" title="产品信息">产品展示</a>
        </li>
        <li>
            <a href="index.php/index/contactUs.html" title="">联盟成果</a>
        </li>
        <li>
            <a href="index.php/index/contactUs.html" title="">联系我们</a>
        </li>
    </ul>
</div>

<!--广告栏-->
<div class="" style="padding-top:10px;margin-bottom: 10px;">
    <a href="#"><img width="1004;" src="/Content/images/guanggao.gif" /></a>
</div>

