@using LM.Model.Model
@using LM.Utility
@{
    ViewBag.Title = "文章详情";
    var info = (ViewBag.Article as ArticleModel) ?? new ArticleModel();
}

@Html.RenderCss("/Content/css/信息阅览.css")
@Html.RenderCss("/Content/css2/文章详细.css")



<div class="section mycontent">
    <div class="nav">
        当前位置：首页 > 文章详情
    </div>
    <div class="titlediv">
        <em class="titledivp"></em>
        <em class="titledivp">时间：@(info.SaveAt.ToString("yyyy-MM-dd"))</em>
        <em class="titledivp">信息来源：@(info.Origin)</em>
        <em class="titledivp">作者：@(info.Author)</em>
        <em class="titledivp"> 浏览次数：@(info.Hits)</em>
        <em class="titledivp"></em>
        <div class="title">@info.Title</div>
        <div class="titleback">
            【摘要】@(!string.IsNullOrEmpty(info.Brief) && info.Brief.Length > 200 ? info.Brief.Substring(0, 197) + "..." : info.Brief)
        </div>
    </div>

    <div class="mycontent" style="width: 75%; margin: auto; margin-bottom: 40px;">
        <style>
            table {
                border-collapse: collapse;
                border-spacing: 0;
                border-left: 1px solid #888;
                border-top: 1px solid #888;
                background: rgb(240, 249, 254);
            }

            th, td {
                border-right: 1px solid #888;
                border-bottom: 1px solid #888;
                padding: 5px 5px;
            }
        </style>
        @Html.Raw(info.Content)
    </div>

</div>









