@charset "utf-8";
/* CSS Document */
.rollBox{
	  width:997px;  _width:685px; height:198px;  _height:176px; margin-top:15px; margin-left:5px; list-style:none; float:left; overflow:hidden;
}
.rollBox .LeftBotton{
	width:16px; height:25px; margin-top:74px; float:left; border:0px;
	background:url(../images/left_jiantou.jpg) no-repeat 0px 0;
	overflow:hidden;
	float:left;
	display:inline;
	cursor:pointer;
}
.rollBox .RightBotton{
	  width:16px; height:25px; margin-top:74px; float:right; border:0px; _margin-right:10px; *+margin-right:4px;
	background:url(../images/right_jiantou.jpg) no-repeat 0px 0;
	display:inline;
	cursor:pointer;
}
.rollBox .Cont{
	width:963px;  _width:636px; height:184px;
	overflow:hidden;
	float:left; 
}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic0{
	width:148px; height:167px;  border:#dddddd solid 1px; margin-top:5px; margin-left:12px; _margin-left:8px;; *+margin-left:12px;  float:left;
}
.rollBox .Cont .pic0 img{
	 border:#f5f5f5 solid 1px; margin:5px; _margin-bottom:3px;
}
.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;}
.rollBox .Cont a:hover{color:#f00;text-decoration:underline;}
.rollBox #List1,.rollBox #List2{float:left;}