@using LM.Model.Model
@using LM.Utility
@{
    ViewBag.Title = "产品详情";
    var info = ViewBag.Product as ProductModel;
}


<div class="bg">
    <div class="about_main">
        <div class="aboutleft">
            <div class="ab_t mt20">
                <span class="ab_t01 pl10">联盟动态</span>
                <br />
                <span class="ab_t02 pl10">Alliance Dynamics</span>
            </div>
            <div class="ab_c mt20">
                <ul>
                    <li><a href="/Article/InfoList">联盟动态</a></li>
                    <li><a href="/Article/InfoList?type=行业信息">行业信息</a></li>
                    <li><a href="/Article/InfoList?type=联盟要闻">联盟要闻</a></li>
                    <li><a href="/Article/InfoList?type=特别关注">特别关注</a></li>
                    <li><a href="/Article/BriefList">联盟简报</a></li>
                </ul>
            </div>
        </div>

        <div class="aboutright">
            <div class="weizi">
                <span>当前位置：</span><a href="/Home/Index">首页</a> &gt; <a href="/Product/List">产品展示</a> &gt; <a href="/Product/Detail?id=">产品详情</a>
            </div>
            <div class="" style="width: 96%; height: 600px; float: left; margin-right: 10px; text-align: left; padding: 0px 10px 0px 15px;">
                
            </div>
        </div>


    </div>
</div>




