@using LM.Model.Model
@using LM.Utility
@{
    Layout = "~/Areas/Admin/Views/Shared/_Main.cshtml";
    ViewBag.Title = "BasicInfo";
}
@Html.RenderCss("/Areas/Admin/Content/js/kindeditor/plugins/code/prettify.css")

@Html.RenderScript("/Areas/Admin/Content/js/kindeditor/lang/zh_CN.js")
@Html.RenderScript("/Areas/Admin/Content/js/kindeditor/kindeditor.js")
@Html.RenderScript("../asp.net/upload_json.ashx/plugins/code/prettify.js")

<!-- KindEditor -->
<script type="text/javascript">
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('#container', {
            //上传管理
            uploadJson: '/Admin/Common/EditorFileUpload',
            //uploadJson: '/Areas/Admin/Content/js/kindeditor/asp.net/upload_json.ashx',
            //文件管理
            fileManagerJson: '/Areas/Common/EditorFileUpload',
            allowFileManager: true,
            //上传文件后执行的回调函数,获取上传图片的路径
            afterUpload: function (url) {
                // 更改dom值
                $("#imgSrc").val() ==='' && $("#imgSrc").val(url);
            },
            //编辑器高度
            width: '800px',
            //编辑器宽度
            height: '500px;',
            //配置编辑器的工具栏
            items: [
                'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
                'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink', '|', 'about'
            ]
        });
        prettyPrint();
    });
</script>
<!-- /KindEditor -->

<script type="text/javascript">
    var commitFlag = true;
    function submit() {
        // 判空
        if (!checkNull()) {
            commitFlag = true;
            return;
        }
        commitFlag = false;

        var article = {
            Title: $('#title').val(),
            Type: $('#type').val(),
            Author: $('#author').val(),
            Origin: $('#origin').val(),
            Keywords: $('#keywords').val(),
            Brief: $('#brief').val(),
            Content: editor.html(),
            IsRecommend: $('#isRecommend').val(),
            IsFocus: $('#isFocus').val(),
            IsHide: $('#isHide').val(),
            ImgSrc: $('#imgSrc').val()
        }
        // 封装数据
        var ajax = {
            url: '/Admin/Article/Save',
            data: JSON.stringify(article),
            type: 'Post',
            dataType: 'json',
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                if (resp.Status) {
                    alert(resp.Message);
                    window.location.href = '/Admin/Article/Index';
                } else {
                    $("#imgSrc").val("");
                    alert(resp.Message);
                    commitFlag = true;
                }
            },
            error: function () {
                alert('系统故障，请联系管理员！');
                $("#imgSrc").val("");
                commitFlag = true;
            }
        }
        $.ajax(ajax);
    }

    function checkNull() {
        //Title: $('#title').val(),
        //Type: $('#type').val(),
        //Author: $('#author').val(),
        //Origin: $('#origin'),
        //Keywords: $('#keywords').val(),
        //Brief: $('#brief').val(),
        //Content: html,
        //IsRecommend: $('#isRecommend').val(),
        //IsFocus: $('#isFocus').val(),
        //IsHide: $('#isHide').val(),
        //ImgSrc: $('#imgSrc').val()
        return true;
    }

</script>

<!--3. Main-->
<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">
        后台管理中心<b>></b><strong>首页配置</strong>
    </div>

    <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="/Admin/Article/Index" class="actionBtn">文章列表</a>添加文章</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">

            <tr>
                <td align="right">文章分类</td>
                <td>
                    <select id="type" name="type">
                        <option value="0"> 联盟动态</option>
                        <option value="1"> 行业信息</option>
                        <option value="3"> 科技要闻</option>
                        <option value="4"> 联盟简报</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="90" align="right">文章标题</td>
                <td>
                    <input type="text" id="title" value="" size="80" class="inpMain" />
                    <font class="prompt" color="red">*</font><span id="msg1" class="prompt"></span>
                </td>
            </tr>
            <tr>
                <td width="90" align="right">文章来源</td>
                <td>
                    <input type="text" id="origin" value="" size="80" class="inpMain" />
                    <span id="msg2" class="prompt"></span>
                </td>
            </tr>
            <tr>
                <td width="90" align="right">点击量</td>
                <td>
                    <input type="text" id="hits" value="" size="80" class="inpMain" placeholder="请输入正整数" />
                    <span id="msg3" class="prompt"></span>
                </td>
            </tr>
            <tr>
                <td width="90" align="right">关键词</td>
                <td>
                    <input type="text" id="keywords" value="" size="80" class="inpMain" placeholder='请以逗号","分隔，如：电子科技，太阳能，新材料' />
                    <span id="msg4" class="prompt"></span>
                </td>
            </tr>
            <tr id="trBrief">
                <td width="90" align="right">内容摘要</td>
                <td>
                    <textarea name="description" id="brief" class="inpMain" style=" font-size: 14px;color: #999;height: 50px;border: 1px solid #D6D6D6; width: 520px; height: 160px; padding: 5px;"></textarea>
                    <span id="msg5" class="prompt"></span>
                </td>
            </tr>
            <tr>
                <td align="right" valign="top">文章正文</td>
                <td>
                    <textarea name="container" id="container" style="width: 800px; height: 300px;"></textarea>
                </td>
            </tr>

            <tr>
                <td align="right">是否推荐</td>
                <td>
                    <select id="isRecommend" name="isRecommend">
                        <option value="false"> 否</option>
                        <option value="true"> 是</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">特别关注</td>
                <td>
                    <select name="isFocus" id="isFocus">
                        <option value="false"> 否</option>
                        <option value="true"> 是</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">是否隐藏</td>
                <td>
                    <select name="isHide" id="isHide">
                        <option value="false"> 否</option>
                        <option value="true"> 是</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="hidden" name="id" value="">
                    <input type="hidden" id="imgSrc" name="imgSrc" value="">
                    <input name="submit" class="btn" type="button" value="提交" onclick="return submit() && false;" />
                </td>
            </tr>
        </table>
    </div>

</div>
