@using LM.Model.Model
@using LM.Utility
@{
    ViewBag.Title = "科研成果";
    var info = ViewBag.Fruits as FruitsModel ?? new FruitsModel();
}

@Html.RenderCss("/Content/css/fruitsDetail.css")


<div class="section">
    <div class="nav">
        当前位置：首页 > 科研成果
    </div>
    <div class="mycontent">

        <style>
            table {
                border-collapse: collapse;
                border-spacing: 0;
                border-left: 2px solid #ffffff;
                border-top: 2px solid #ffffff;
                background: #E8E8E8;
                
            }

            th, td {
                border-right: 2px solid #ffffff;
                border-bottom: 2px solid #ffffff;
                padding: 5px 5px;
            }
        </style>
        <table class="fruit" style="margin: auto; margin-top: 50px; margin-bottom: 30px;width: 900px; border-spacing: 20px 10px; font-size: 14px;">
            <tr>
                <td colspan="2" style="background-color: #559BD6;">
                    <h4 style="text-align: center; font-family: 宋体; margin-bottom: 0px; font-size: 18px; padding: 20px;color: #ffffff; ">@info.Name</h4>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;">成果类别：@info.Type</td>
                <td class="fruit_td">项目负责人：@info.Leader</td>
            </tr>
            <tr>
                <td>专利情况：@info.Patent</td>
                <td>知识产权：@info.Rights</td>
            </tr>
            <tr>
                <td>获奖信息：@info.Awards</td>
                <td>研发状态：@info.Application</td>
            </tr>
            <tr>
                <td colspan="2">
                    详细描述：
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="mycontent" style="padding: 10px;">
                        <style>
                            p {
                                padding: 0 0;
                                margin-top: 0px;
                            }
                        </style>
                        @Html.Raw(info.Description)
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>
