@using LM.Utility


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit">
    <title>信息管理系统登录界面</title>
    @Html.RenderScript("/Areas/Admin/content/js/jquery-1.9.1.js")
    @Html.RenderCss("/Areas/Admin/content/css/style.css")
    @Html.RenderScript("/Areas/Admin/content/js/cloud.js")
    <script type="text/javascript">
        $(function () {
            $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            $(window).resize(function () {
                $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            });
            $('body').on('keydown', function (e) {
                e.keyCode === 13 && login();
            });
        });
        function login() {
            var name = $('input[name="name"]').val();
            var pwd = $('input[name="pwd"]').val();

            var ajaxData = {
                url: '/Admin/Home/Login',
                data: JSON.stringify({ userName: name, userPwd: pwd }),
                type: 'Post',
                dataType: 'json',
                cache: false,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.status) {
                        window.location.href = "/Admin/Home/Index";
                    } else {
                        $('#loginMsg').text(result.loginMsg);
                    }
                },
                error: function () {
                    alert('系统失败，请联系管理员！');
                }
            }
            $.ajax(ajaxData);
        }
    </script>
</head>
<body style="background-color: #1c77ac; background-image: url(/Areas/Admin/content/images/light.png); background-repeat: no-repeat; background-position: center top; overflow: hidden; ">
    <div id="mainBody">
        <div id="cloud1" class="cloud"></div>
        <div id="cloud2" class="cloud"></div>
    </div>


    <div class="logintop">
        <span>欢迎登录后台管理界面平台</span>
        <ul>
            <!--<li><a href="#">回首页</a></li>
            <li><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>-->
        </ul>
    </div>

    <div class="loginbody">

        <span class="systemlogo"></span>

        <div class="loginbox" style="margin-top: 12%;">

            <ul>
                <li>
                    <input name="name" type="text" class="loginuser" placeholder="账号" />
                </li>
                <li>
                    <input name="pwd" type="password" class="loginpwd" placeholder="密码" />
                </li>
                <li>
                    <input type="button" onclick="login()" class="loginbtn" value="登录" />
                    <label id="loginMsg"></label>
                </li>
            </ul>


        </div>

    </div>



    <div class="loginbm">
        版权所有 &copy; 2016 内容管理系统；

        Power By NWDesign &nbsp;&nbsp; Tel：18271265095
    </div>
    <div style="display: none;" id="alert"></div>
</body>
</html>
