@using LM.Model.Model
@using LM.Utility
@{
    ViewBag.Title = "单位详情";
    var info = ViewBag.Company as CompanyModel;
}

@Html.RenderCss("/Content/css2/文章详细.css")


<div class="section mycontent">
    <div class="nav">
        当前位置：首页 > 单位详情
    </div>
    <div class="mycontent" style="width: 75%; margin: auto; margin-bottom: 40px;">
        <div class="title">
            <div class="company_logo">
                <img src="@info.LogoSrc" width="100" height="40" />
            </div>
            <div class="company_name">
                 @info.Name
            </div>
        </div>

        @Html.Raw(info.Description)

    </div>
</div>









