@using LM.Model.Model
@using LM.Utility
@{
    ViewBag.Title = "联盟章程";
    var content = ViewBag.Chapter;

    var briefs = ViewBag.Briefs as List<BriefModel>;
}

@Html.RenderCss("/Content/css2/关于联盟.css")

<div class="section" style="margin-bottom:20px;">
    <div class="section_left">
        <div class="top">
            <h3>关于联盟</h3>
            <h5 accesskey="">About Aliance</h5>
        </div>
        <a href="/Home/About"><div class="title_left">联盟介绍&nbsp;<samp>>></samp></div></a>
        <a href="/Home/Chapter"><div class="title_left">联盟章程&nbsp;<samp>>></samp></div></a>
        <a href="/Home/Organization"><div class="title_left">联盟组织&nbsp;<samp>>></samp></div></a>
        <a href="/Home/Process"><div class="title_left">入盟申请&nbsp;<samp>>></samp></div></a>

        <div class="slide1">
            <br/>
            <span class="slide_title">关注联盟微信</span>
            <div class="slide_qr">
                <img src="/Content/images2/2118b59.jpg" width="80%" style="margin: auto auto;"/>
            </div>
        </div>

        <div class="top">
            <h3>联盟简报</h3>
        </div>
        <ul class="news_left">
            @foreach (var b in briefs)
            {
                <li>
                    <a href="@(b.FilePath)">@(b.Name)</a>
                </li>
            }
        </ul>
    </div>
    <div class="section_right">
        <div class="nav">
            当前位置：首页 > 关于联盟 > 联盟章程
        </div>
        <div class="nav_right">
            <span><img src="/Content/images2/home_轮播圆点蓝色.png" style="padding-right: 15px;">联盟章程</span>
        </div>
        <div class="mycontent">
            @Html.Raw(content)
        </div>
    </div>
</div>
